@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --PoppinsFont : 'Poppins', sans-serif;
  --heading-top: 100px; 
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body{
  font-family: var(--PoppinsFont);
   background-color: black;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  transition: all 0.3s ease;
  z-index: 999;
  background-color: black;
  margin-bottom: 3rem;
}

.navbar-fixed {
  position: fixed;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.nav-container {
  max-width: 1400px;
  margin: auto;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo a{
  text-decoration: none;
  color: #cccccc;
}

.nav-logo {
  font-size: 36px;
  font-weight: 700;
  color: #cccccc;
  margin: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 28px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: opacity 0.2s ease;
}

.nav-links li a:hover {
  background: linear-gradient(90deg, #0D52AD, #00C2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links a.active {
  background: linear-gradient(90deg, #0D52AD, #00C2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.close-btn{
   background: linear-gradient(90deg, #0D52AD, #00C2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.btn-cta {
  padding: 8px 20px;
  border-radius: 50px;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  color: #00C2FF;
  border: 2px solid transparent;
  background-image:
    linear-gradient(#000, #000),
    linear-gradient(90deg, #0D52AD, #00C2FF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  transition: all 0.3s ease;
}


.nav-links .btn-cta:hover{
  -webkit-text-fill-color: #fff;
}

.mobile-menu-btn {
  display: none;
  font-size: 28px;
  background: linear-gradient(90deg, #0D52AD, #00C2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #111;
  color: #fff;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1000;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 40px 0;
  margin-top: 5rem;
}

.sidebar-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-footer{
  margin-top: 10rem;
}

.sidebar-footer p {
  font-size: 14px;
  color: #aaa;
  margin: 4px 0;
}

.hero-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  position: relative;
  z-index: 2;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 66px;
  text-transform: uppercase;
  line-height: 1.2;
}

.hover-letter {
  margin-top: 4rem;
display: inline-block;
  position: relative;
  cursor: pointer;
  color: #8a8a8a;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: 
    filter 0.3s ease,
    color 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease,
    text-shadow 0.3s ease;
}

.hover-letter.hovered {
  color: #00b4ff;
  transform: translateY(-6px) scale(1.1);
  text-shadow: 0 10px 30px rgba(13, 82, 173, 0.5);
  filter: grayscale(0%);
  opacity: 1;
}

.hover-letter.neighbor-glow {
  color: #66d9ff;
   text-shadow: 0 6px 20px rgba(0, 194, 255, 0.3);
  filter: grayscale(0%);
  opacity: 1;
}

.hero-wrapper {
  position: relative;
  width: 100%;
  background-image: url("./Images/hero-bg-img.png");
  background-repeat: no-repeat;
   background-size: cover;            
  background-position: center 100%; 
  min-height: 600px; 
  overflow-x: hidden !important;
  top: 150px;
}

.hero-container {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 40px;

  position: relative; 
  z-index: 1;
}

.word {
  display: inline-block;
  white-space: nowrap; 
}

.section2-wrapper {
  position: relative;
  width: 100%;
  padding: 80px 16px; 
  overflow: hidden !important;
  margin-top: 9rem;
}

.blur-left,
.blur-right {
  position: absolute;
  z-index: 0;
  max-width: 600px;
  height: auto;
}

.blur-left {
  top: 0;
  left: 0;
}

.blur-right {
  top: 0;
  right: 0;
}

.section2-container {
  max-width: 1400px;
  margin: 0 auto;
  position: relative; 
  z-index: 1;
  overflow: hidden !important;
}

.section2-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section2-subtitle {
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  line-height: 0;
  margin-bottom: -1rem;
}

.section2-title {
   font-weight: 300;
  font-size: 42px;
  background: linear-gradient(90deg, #0D52AD, #00C2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 margin-bottom: -1rem;
}

.section2-text {
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.7;
  max-width: 800px;
  margin-bottom: 32px;
}

.section2-buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  border-radius: 50px;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  color: #00C2FF;
  border: 2px solid transparent;

  background-image:
    linear-gradient(#000, #000),
    linear-gradient(90deg, #0D52AD, #00C2FF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
text-wrap: nowrap;
}

.btn-grd2 {
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.35s ease;
}

.btn-grd2::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #0D52AD, #00C2FF);
  transform: scale(0);
  transform-origin: center;
  border-radius: inherit;
  z-index: -1;
  transition: transform 0.45s ease;
}

.btn-grd2:hover {
  color: #fff;
}

.btn-grd2:hover::before {
  transform: scale(1);
}

.btn-arr {
    position: absolute;
  right: -10px;               
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #016FFF;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
 z-index: 5;
  transition: all 0.4s ease;
}

.btn {
 position: relative;
 overflow: visible;
  transition: all 0.35s ease;
z-index: 0;       
}

.btn::before {
 content: "";
  position: absolute;
  inset: 0;
  z-index: 0; 
  background-image:
    linear-gradient(#000, #000),
    linear-gradient(90deg, #0D52AD, #00C2FF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: inherit;           
}

.service-section {
  padding: 80px 0;
  max-width: 1400px;
  margin: auto;
  overflow-x: hidden !important;
}

.service-header {
  margin-bottom: 48px;
}

.section-title {
  font-size: 42px;
  font-weight: 300;
  background: linear-gradient(90deg, #0D52AD, #00C2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.section-subtitle {
  color: #cfd8e3;
  font-size: 18px;
  margin-top: 8px;
  font-weight: 300;
}

.service-tabs-row {
  display: flex;
 min-height: 460px;
  overflow-x: hidden;
  overflow-y: visible;
  border: 1px solid #0D52AD;
}

.service-tab {
  display: flex;
  cursor: pointer;
  transition: flex 0.45s ease;
  color: #fff;
  min-width: 86px;
  position: relative;    
   overflow: visible; 
}

.service-tab-collapsed {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;    
}

.service-tab-collapsed .index {
  text-align: center;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 18px;
  margin: 1rem 0;
}

.service-tab-collapsed h3 {
   font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    position: absolute;
    left: 40%;
    bottom: 4%;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: translateX(-50%) rotate(180deg);
}

.service-tab-content {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 1000px;
}

.service-tab-index {
  width: 72px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  box-shadow: 6px 0 20px rgba(0, 0, 0, 0.6),
              inset -1px 0 0 rgba(255, 255, 255, 0.08);
}

.service-tab-index .index {
  font-size: 18px;
  font-weight: 700;
}

.service-tab-index .label {
  font-size: 16px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  bottom: 4%;
}

.service-tab-main {
  padding: 36px;
  flex: 1;
}

.service-tab-main h4 {
  font-size: 30px;
  margin-bottom: 12px;
   background: linear-gradient(90deg, #0D52AD, #00C2FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
}

.service-tab-main p {
  max-width: 650px;
  font-size: 15px;
  color: #dbe4f0;
  margin-bottom: 24px;
  font-weight: 300;
}

.service-tab-main img {
    display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}


.footer {
  position: relative;
  color: #fff;
  padding: 90px 16px 40px;
  
  overflow: hidden;
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to top,
    rgba(13, 82, 173, 0.8) 0%,   
    rgba(13, 82, 173, 0.4) 30%,  
    rgba(13, 82, 173, 0.15) 60%,  
    rgba(13, 82, 173, 0) 100%     
  );
  z-index: 0;
}


.footer-container {
  max-width: 1400px;
  margin: auto;
  overflow: hidden !important;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 64px;
  align-items: flex-start;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.footer-left {
  align-items: flex-start;
}

.footer-middle {
  align-items: flex-start;
}

.footer-right {
  align-items: flex-end;
  text-align: right;
}

.footer-widget-title {
  font-size: 22px;
  margin-bottom: 22px;
}

.footer-widget-list {
  list-style: none;
  padding: 0;
}

.footer-widget-list li {
  margin-bottom: 14px;
}

.footer-widget-list a {
  color: #cfd8e3;
  text-decoration: none;
  font-size: 16px;
}

.footer-widget-list a:hover {
  color: #00c2ff;
}

.footer-contact {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.mail-icon,.phone-icon {
  color: #fff;     
  font-size: 18px;
  border-radius: 4px;
  padding: 2px;     
  box-sizing: content-box;
}

.footer-contact a {
  color: #fff;
  text-decoration: none;
}

.footer-social h4 {
  margin: 24px 0 14px;
}

.nav.social {
  display: flex;
  gap: 18px;
}

.footer-logo-text {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-heading {
  font-size: 40px;
  line-height: 1.2;
  background: linear-gradient(90deg, #0d52ad, #00c2ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
}

.footer-text {
  font-size: 18px;
  color: #dbe4f0;
  max-width: 520px;
  margin-top: 16px;
  font-weight: 300;
}

.footer-copy {
  margin-top: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

.footer-copy a {
  color: #00c2ff;
  text-decoration: none;
}

.social-links {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.social-link:hover {
  background-color: #555;
  transform: scale(1.1);
}

.btn {
  padding: 10px 25px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
}

.arrow {
  margin-left: 5px;
}

.btn {
  padding: 10px 28px;
  border-radius: 999px;
  text-decoration: none;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
}

.btn-primary {
  border: 1px solid transparent;

  background-image:
    linear-gradient(#000, #000),
    linear-gradient(90deg, #0D52AD, #00C2FF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.btn-secondary {
 border: 1px solid transparent;

  background-image:
    linear-gradient(#000, #000),
    linear-gradient(90deg, #0D52AD, #00C2FF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.arrow {
  margin-left: 8px;
}

.btn {
  padding: 10px 24px;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
  position: relative;
  z-index: 1;
  overflow:visible;
}

.btn-primary,.btn-secondary {
  position: relative;
  display: inline-block;
  padding: 10px 24px;
  font-weight: 600;
  border-radius: 9999px;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-image:
    linear-gradient(#000, #000), 
    linear-gradient(90deg, #0D52AD, #00C2FF); 
  background-origin: border-box;
  background-clip: padding-box, border-box;
  overflow: hidden;
  transition: color 0.4s ease;
}

.btn-home{
   display: inline-flex;             
  align-items: center;             
  justify-content: center;

  line-height: 1;   
  position: relative;
  padding: 10px 24px;
  font-weight: 600;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  cursor: pointer;
  background-image:
    linear-gradient(#000, #000), 
    linear-gradient(90deg, #0D52AD, #00C2FF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  overflow: visible;
  transition: color 0.4s ease;  
  z-index: 1;
}

.btn-primary::before,
.btn-secondary::before,.btn-home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, #0D52AD, #00C2FF); 
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
  z-index: 0;
  border-radius: inherit;
  z-index: -1;
}

.btn-primary span,
.btn-secondary span,.btn-home span {
  position: relative;
  z-index: 1;
}

.btn-primary:hover::before,
.btn-secondary:hover::before,.btn-home:hover::before {
  transform: scaleX(1);
}

.btn-home .btn-arr {
  transition: opacity 0.3s;
}

.btn-home:hover .btn-arr {
  opacity: 0; 
}

.btn-home:has(.btn-arr)::after {
  content: '>'; 
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%) translateX(-10px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  font-size: 20px; 
  background-color: white; 
  color: #000; 
  padding: 6px 10px; 
  border-radius: 50%; 
  line-height: 1;
}

.btn-home:has(.btn-arr):hover::after {
  opacity: 1; 
  transform: translateY(-50%) translateX(20px);
}

.btn-primary:hover,
.btn-secondary:hover,.btn-home:hover {
  color: #fff; 

}

.btn,
.btn-home {
  position: relative;
  isolation: isolate;   
}

.btn::before {
  z-index: -1;          
}